* {
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body {
  margin: 0;
  display: block;
  background-color: #f8f8fb;
}
p {
  margin: 0;
  font-weight: 500;
  color: #888eb0;
}

h4 {
  margin: 0;
}
.invoiceStatusButtons {
  display: none;
}
.Invoice:hover {
  cursor: pointer;
}
.newInvoiceBody {
  grid-area: newInvoiceBody;
}
.invoiceDate {
  grid-area: invoiceDate;
  margin-top: 1rem;
}
.invoiceID {
  grid-area: invoiceID;
  display: flex;
  padding: 1rem 1rem 0px 1rem;
  display: flex;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.statusAndName {
  grid-area: statusAndName;
}
.viewInvoiceButtons {
  grid-area: viewInvoiceButtons;
}
.invoiceArrow {
  grid-area: invoiceArrow;
}
.clientsName {
  grid-area: clientsName;
}
.emptyImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.invoiceTitle > h2 {
  font-weight: 700;
}
.paymentDue {
  grid-area: paymentDue;
  margin-left: 1rem;
}
.paymentDueP {
  margin: 1rem 0 0.5rem 0;
}
.tagAndProdDes {
  padding-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.tagAndProdDes > h4 {
  display: flex;
}
.status {
  grid-area: status;
  /* margin-top: 1rem; */
  border-radius: 15px;
  height: fit-content;
  padding: 1rem;
  width: 70% !important;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: "1rem";
}

.viewInvoiceBody {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  border: none;
  border-radius: 15px;
  margin-top: 2rem;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 10rem;
  grid-template-areas:
    "tagAndProdDes ."
    "senderAddress ."
    "invoiceDate billToAddress"
    "paymentDue billToAddress"
    "sentTo sentTo"
    "invoiceItemsWrapper invoiceItemsWrapper"
    "grandTotal grandTotal";
}
.viewInvoiceButtons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  background-color: white;
}
.total {
  grid-area: total;
  padding: 0 1rem 1rem 1rem;
}
.street {
  grid-area: street;
}
.state {
  grid-area: state;
  height: fit-content;
}
.city {
  grid-area: city;
  margin-right: 0.5rem;
}
.zip {
  grid-area: zip;
  margin-left: 0.5rem;
}
.country {
  grid-area: country;
}
.cstreet {
  grid-area: cstreet;
}
.ccity {
  grid-area: ccity;
  margin-right: 0.5rem;
}
.billFrom {
  grid-area: billFrom;
  padding-bottom: 1.5rem;
}
.cstate {
  grid-area: cstate;
}
.czip {
  grid-area: czip;
  margin-left: 0.5rem;
}
.ccountry {
  grid-area: ccountry;
}
.clientsEmail {
  grid-area: clientsEmail;
}

.invoiceBillTo {
  padding-top: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  display: grid;
}
.homeHeader {
  background-color: #f8f8fb;
  grid-area: homeHeader;
}
.invoiceItems {
  border: none;
  display: grid;
  border-radius: 15px;
  padding: 1rem;
  background-color: #f8f8fb;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}
.invoiceItemName {
  grid-row: 1/2;
  grid-column: 1/3;
}
.itemMultiply {
  display: flex;
  margin-top: 0.5rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.bottomInvoice {
  grid-area: bottomInvoice;
}
.submitBtn {
  border-radius: 50px;
  width: 30vw;
  margin: 0.5rem;
  border: none;
  background-color: #7c5dfa;
  color: white;
}
.submitBtn:hover {
  cursor: pointer;
  background-color: #9277ff;
}
.draftBtn {
  border-radius: 50px;
  width: 30vw;
  margin: 0.5rem;
  border: none;
  background-color: #252945;
  color: #7e88c3;
}
.draftBtn:hover {
  background-color: #0c0e16;
  cursor: pointer;
}
.discardBtn {
  border-radius: 50px;
  width: 30vw;
  margin: 0.5rem;
  border: none;
  background-color: #dfe3fa;
}
.editBtn {
  border-radius: 50px;
  width: 25vw;
  margin: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  color: #7e88c3;
  background-color: #f9fafe;
  height: 80%;
}
.alertBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 25;
}
.Alert {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  height: 30vh;
  width: 50vw;
}
.Alert > h3 {
  padding: 1.5rem 1rem 1rem 1rem;
}
.Alert > p {
  padding: 1rem;
}
.alertBtns {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.alertCancelBtn {
  border-radius: 50px;
  width: 25vw;
  margin: 0.5rem;

  border: none;
  color: #7e88c3;
  background-color: #f9fafe;
  height: 15%;
}
.alertCancelBtn:hover {
  cursor: pointer;
  background-color: #dfe3fa;
}
.editCancelBtn {
  border-radius: 50px;
  width: 25vw;
  margin: 0.5rem;
  border: none;
  color: #7e88c3;
  background-color: #f9fafe;
}
.editCancelBtn:hover {
  cursor: pointer;
  background-color: #dfe3fa;
}
.alertDeleteBtn {
  border-radius: 50px;
  width: 30vw;
  margin: 0.5rem;
  height: 15%;
  margin-bottom: 2rem;
  border: none;
  color: white;
  background-color: #ec5757;
}
.alertDeleteBtn:hover {
  cursor: pointer;
  background-color: #ff9797;
}
.editBtn:hover {
  background-color: #dfe3fa;
  cursor: pointer;
}
.deleteBtn {
  border-radius: 50px;
  width: 30vw;
  margin: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  color: white;
  background-color: #ec5757;
  height: 80%;
}
.deleteBtn:hover {
  background-color: #ff9797;
  cursor: pointer;
}
.discardBtn:hover {
  cursor: pointer;
}
.paidBtn {
  border-radius: 50px;
  width: 30vw;
  margin: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #7c5dfa;
  color: white;
  height: 80%;
}
.paidBtn:hover {
  cursor: pointer;
  background-color: #9277ff;
}
.buttons {
  grid-area: buttons;
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 8vh;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.invoiceItemTotal {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.billToAddress {
  grid-row: 1/3;
  grid-column: 2/3;
  grid-area: billToAddress;
}
.billToAddress > h4 {
  margin: 0.5rem 0 1rem 0;
}
.billTo {
  grid-area: billTo;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.BillTo > div {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.sentTo {
  margin: 2rem 0 2rem 0;
  grid-area: sentTo;
}
.sentTo > P {
  margin-bottom: 0.5rem;
}
.bottomInvoice {
  width: 88vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bottomInvoice > div {
  display: flex;
  flex-direction: column;
}
.AddressForm {
  grid-template-columns: 50% 50%;
  display: grid;
  grid-template-areas:
    "billFrom billFrom"
    "street street"
    "state state"
    "city zip"
    "country country"
    "billTo billTo"
    "clientsName clientsName"
    "clientsEmail clientsEmail"
    "cstreet cstreet"
    "cstate cstate"
    "ccity czip"
    "ccountry ccountry"
    "bottomInvoice bottomInvoice"
    "buttons buttons";
}
.name {
  width: 100% !important;
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
}
.invoiceDate > p {
  padding-bottom: 0.5rem;
}

.NavBar {
  grid-area: NavBar;
  max-height: 10vh;
}
.InvoiceTitle {
  grid-area: InvoiceTitle;
  padding-top: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}
.downSVG {
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}
.Filter {
  grid-area: Filter;
  position: relative;
  display: inline-block;
  max-width: 30%;
}
.filterBtn {
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  margin-left: auto;
  background-color: #f8f8fb;
  display: flex;
}

.dropDownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  background-color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(122, 120, 120);
}
.filterLink:hover {
  background-color: #f8f8fb;
  cursor: pointer;
  padding: none;
  margin: none;
}
.filterLink {
  width: 100%;
  background-color: none;
}
.filterBtn:hover {
  cursor: pointer;
}
.Filter:hover .dropDownContent {
  display: flex;
  z-index: 2;
}

.NewButton {
  grid-area: NewButton;

  background-color: #7c5dfa;
  margin-top: 1rem;
  border-radius: 50px;
  display: flex;
  max-width: 30vw;
  border: none;
  margin: 1rem;
}
.plusIcon {
  justify-content: center;
  align-self: center;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
}
.newButtonText {
  display: flex;
  color: white;
  font-family: "League Spartan", sans-serif;
  align-items: center;
  align-self: center;
  padding-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-right: 0.5rem;
}
.newButtonText > h4 {
  font-family: "League Spartan", sans-serif;
  align-self: center;
  font-weight: 700;
  font-size: 1rem;
}
.plusIconImg {
  justify-content: center;
  align-self: center;
  margin-top: 0.6rem;
}
.NewButton:hover {
  cursor: pointer;
}
.InvoiceList {
  grid-area: InvoiceList;
  color: black;
}
.newInvoiceBody {
  padding: 1rem;
  background: transparent;
}
.newInvoice {
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.formLabel {
  padding: 1rem;
}
.newInvoiceBody > * {
  padding: 1rem;
}

.purpleText {
  color: #7c5dfa;
}
.alert-danger {
  background-color: red;
  height: 3vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;

  top: 0;
  left: 0;
  margin-bottom: 1rem;
}
.BackButton {
  padding-top: 2rem;
  grid-area: BackButton;
  display: flex;
  gap: 0.5rem;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
}
.BackButton:hover {
  cursor: pointer;
}
.BackButton img {
  transform: scale(0.3);
  width: 5vw;
  height: auto;
}
.homeHeader {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}
.grandTotal {
  grid-area: grandTotal;
  background-color: #373b53;
  height: 10vh;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem;
  align-items: center;
}

.grandTotal > h2 {
  padding-right: 2rem;
}
.dark-mode {
  background: black !important;
  color: white;
}

.invoiceItemsWrapper {
  grid-area: invoiceItemsWrapper;
  background-color: #f8f8fb;
  border-radius: 15px 15px 0 0;
}
.Invoice > div {
  width: 20vw;
}
.formData {
  color: black;
}
.Item {
  border: none;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid lightgray;
  border-radius: 15px;
}
.itemName {
  grid-row: 1/2;
  grid-column: 1/5;
}
.qty {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 0.5rem;
}
.price {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0.5rem;
}
.itemTotal {
  grid-row: 2/3;
  grid-column: 3/4;
  padding: 0.5rem;
  border: none !important;
}
.itemDelete {
  grid-row: 2/3;
  grid-column: 4/5;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}
.itemDelete:hover {
  cursor: pointer;
}
.alert-danger {
  background-color: red;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.input {
  width: 100%;
  margin: 0.5rem 1rem 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid lightgray;
}
.addItemBtn {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.addItemBtn > button:hover {
  background-color: #dfe3fa;
  cursor: pointer;
}
.addItemBtn > button {
  width: 70vw;
  border-radius: 23px;
  border: none;
  height: 5vh;
  background: #f8f8fb;
  margin-bottom: 2rem;
}
.itemDelete {
  grid-row: 2/3;
  grid-column: 4/5;
}

.invoiceStatus {
  grid-area: invoiceStatus;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  height: 10vh;
  display: flex;
  box-shadow: 2px 2px 5px lightgray;
  align-items: center;
  border: none;
  border-radius: 15px;
}
.statusAndName {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoiceStatusButtons {
  display: none;
}
.senderAddress {
  padding-top: 1rem;
  grid-template-columns: 50% 50%;
  grid-area: senderAddress;
}
/* .itemTotal {
  height: min-content;
  margin: 0;
} */
.NavBar {
  background-color: #252945;
  display: flex;
}
.avatarImg {
  border-radius: 50%;
  padding: 0.5rem;
  height: 100%;
}
.avatar {
  border-left: 1px solid gray;
}
.logo {
  display: flex;
  width: 12vw;
  align-items: center;
  justify-content: center;
  background: #7c5dfa;
  border-radius: 0px 20px 20px 0px;
}
.logo > img {
  padding-top: auto;
  height: 40%;
}
.theme {
  margin-left: auto;
  padding-right: 1rem;
  align-self: center;
}

.Invoice {
  overflow: hidden;
  background-color: white;
  gap: 1rem;
  display: flex;
  margin: 1rem;
  border-radius: 15px;
  /* min-height: 15vh; */
  height: fit-content;
  box-shadow: 2px 2px 5px lightgray;
  display: grid;
  flex: wrap;
  white-space: nowrap;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "invoiceID clientsName"
    "paymentDue status"
    "total status";
  justify-content: space-between;
  text-align: start;
  /* font-size: 0.75rem; */
}

@media screen and (max-width: 768px) {
  /* .paymentDue {
    padding: 1rem;
    width: 100%;
  } */
  .invoiceArrow {
    display: none;
  }
  .newInvoice {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) and (orientation: landscape) {
  .Invoice {
    height: 10vh !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .alert-danger {
    background-color: red;
    height: 5vh;
    width: 50%;
    position: fixed;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;

    top: 0;
    left: 0;
  }
  .viewInvoice {
    padding: 1rem;
  }
  .mainContent {
    padding: 1rem;
  }
  .Invoice {
    display: grid;
    justify-content: space-evenly;
    /* min-height: 10vh; */
    grid-template-rows: 8vh;
    grid-template-columns: 15% 15% 25% 15% 15% 5%;
    grid-template-areas: " invoiceID paymentDue clientsName total status invoiceArrow";
    align-items: center;
    align-content: center;

    height: fit-content;
  }
  .viewInvoiceBody {
    /* height: auto; */
    display: grid;
    height: auto;
    grid-template-columns: 25% 45% 15% 15%;
    grid-template-rows: 10% 10% 10% auto 10%;
    grid-template-areas:
      "tagAndProdDe . . senderAddress"
      "invoiceDate billToAddress sentTo sentTo"
      "paymentDue billToAddress . ."
      "invoiceItemsWrapper invoiceItemsWrapper invoiceItemsWrapper invoiceItemsWrapper"
      "grandTotal grandTotal grandTotal grandTotal";
  }
  .AddressForm {
    /* gap: 1rem; */
    max-width: 100%;
    margin: 0;
    padding: 1rem;
    grid-template-columns: 35% 30% 35%;
    display: grid;
    grid-template-areas:
      "billFrom billFrom billFrom"
      "street street street"
      "city state zip"
      "country country country"
      "billTo billTo billTo"
      "clientsName clientsName clientsName"
      "clientsEmail clientsEmail clientsEmail"
      "cstreet cstreet cstreet"
      "ccity cstate czip "
      "ccountry ccountry ccountry"
      "bottomInvoice bottomInvoice bottomInvoice"
      "buttons buttons buttons";
  }
  .newInvoice {
    display: flex;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: auto;
    grid-template-areas:
      "NavBar BackButton"
      "NavBar newInvoiceBody";
  }
  .Alert {
    max-width: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .alertBtns {
    max-width: 300px;
    align-self: center;
  }
  .alertBtns > button {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
  .bottomInvoice {
    width: 100%;
  }
  .invoiceItemsWrapper {
    height: fit-content;
    align-self: flex-end;
  }

  .invoiceID {
    padding: 0 0 0 1rem;
  }
  .name {
    padding: 0;
    display: flex;
    flex: wrap;
    overflow: hidden;
  }
  .total {
    padding: 0;
    text-align: center;
  }
  .status {
    /* padding: 0; */
    max-height: 90%;
    margin: 0;
    min-width: 15vw;
    max-width: 200px;
  }
  .Filter {
    right: auto;
    float: right;
    margin-left: auto;
    margin-right: 0;
  }
  .filterBtn > h2::after {
    content: "\20 by status";
  }
  .newButtonText > h4::after {
    content: "\20 Invoice ";
  }
  .newInvoiceButtons {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color: white;
  }

  .invoiceStatusButtons {
    display: flex;
  }
  .status {
    width: 10vw;
    margin: 0 0 0 0;

    margin-bottom: 0;
    /* margin-left: 0;
    margin-right: auto; */
    float: left;
  }
  .invoiceStatusButtons > button {
    width: 15vw;
    padding: 1rem;
  }
  .invoiceStatus {
    display: flex;
    align-items: center;
  }
  .invoiceStatus > p {
    margin-right: 1rem;
  }
  .statusAndName {
    display: flex;
    gap: 2rem;
    justify-content: start;
  }
  .statusAndName > p {
    display: flex;
    align-items: center;
  }
  .invoiceStatusButtons {
    gap: 1rem;
  }
  .invoiceStatusButtons > button {
    margin: 0;
    gap: 1rem;
  }
  .viewInvoiceButtons {
    display: none;
  }
  .buttons {
    display: flex;
    width: 50%;
    position: fixed;
  }
  .newInvoice {
    margin-top: 10vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 50%;
    overflow: scroll;
    padding-bottom: 10rem;
  }
  .background {
    margin-top: 10vh;
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .BackButton {
    align-self: start;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .AddressForm {
    /* gap: 1rem; */
    max-width: 100%;
    margin: 0;
    padding: 1rem;
    grid-template-columns: 35% 30% 35%;
    display: grid;
    grid-template-areas:
      "billFrom billFrom billFrom"
      "street street street"
      "city state zip"
      "country country country"
      "billTo billTo billTo"
      "clientsName clientsName clientsName"
      "clientsEmail clientsEmail clientsEmail"
      "cstreet cstreet cstreet"
      "ccity cstate czip "
      "ccountry ccountry ccountry"
      "bottomInvoice bottomInvoice bottomInvoice"
      "buttons buttons buttons";
  }
  .invoiceStatusButtons > button {
    width: 15vw;
    padding: 1rem;
  }
  .invoiceStatus {
    margin: 0 auto;
    width: 900px;
    display: flex;
    align-items: center;
  }
  .AddressForm {
    width: 100%;
  }
  .viewInvoiceButtons {
    display: none;
  }
  .invoiceStatusButtons {
    display: flex;
  }
  .newInvoice {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    margin-left: 110px;
    padding-bottom: 8rem;
    overflow: scroll;
  }
  .background {
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 110px;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .newInvoiceBody {
    grid-area: newInvoiceBody;
  }
  .mainContent {
    grid-area: wrapper;
    margin-left: 110px;
  }

  .invoiceList {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-area: invoiceList;
    justify-content: center;
    align-items: center;
    max-width: 900px;
  }
  .name {
    padding: 0;
  }
  .Filter {
    right: auto;
    float: right;
    margin-left: auto;
    margin-right: 0;
  }
  .filterBtn > h2::after {
    content: "\20 by status";
  }
  .BackButton {
    width: 900px;
    margin: 0 auto;
    justify-content: flex-start;
  }
  .status {
    width: 200px;
    margin-left: 0;
    margin-right: auto;
  }
  .statusAndName > p {
    padding: 1rem;
  }
  .invoiceStatusButtons > button {
    margin-bottom: 0;
    max-width: 160px;
  }

  .paymentDue {
    max-width: 100%;
  }
  .homeHeader {
    min-width: 900px;
    max-width: 900px;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
  }
  .App {
    /* display: grid; */
    grid-template-columns: 10vw 90vw;
    grid-template-rows: auto;
    /* grid-template-areas:
      "NavBar homeHeader"
      "NavBar invoiceList"; */
  }
  .buttons {
    width: 50%;
    margin-left: 110px;
  }

  .Invoice {
    margin-bottom: 0;
    max-width: 100%;
    display: grid;
    width: 100%;
    grid-template-rows: 10vh;
    grid-template-columns: 15% 15% 25% 15% 15% 5%;
    grid-template-areas: " invoiceID paymentDue clientsName total status invoiceArrow";
    align-items: center;
    height: fit-content;
  }
  .invoiceID {
    padding: 0 0 0 1rem;
  }
  .total {
    padding: 0;
  }
  .status > p {
    max-width: 100%;
  }
  .NavBar {
    min-height: 100vh;
    width: 110px;

    display: flex;
    position: fixed;

    justify-content: space-between;
    flex-direction: column;
  }
  .theme {
    margin-top: auto;
    margin-bottom: 0;
    justify-content: center;
    margin-left: 0;
  }
  .logo {
    width: 100%;

    height: 10vh;
    border-radius: 0 0 20px 20px;
  }
  .invoiceID {
    max-width: 100%;
  }
  .total {
    max-width: 100%;
  }
  .paymentDue {
    /* margin-bottom: 2rem; */
  }
  .viewInvoiceBody {
    display: grid;
    height: auto;
    grid-template-columns: 25% 45% 15% 15%;
    grid-template-rows: 10% 10% 10% auto 10%;
    grid-template-areas:
      "tagAndProdDe . . senderAddress"
      "invoiceDate billToAddress sentTo sentTo"
      "paymentDue billToAddress . ."
      "invoiceItemsWrapper invoiceItemsWrapper invoiceItemsWrapper invoiceItemsWrapper"
      "grandTotal grandTotal grandTotal grandTotal";
    grid-area: viewInvoiceBody;

    width: 900px;
  }
  .viewInvoice {
    margin: 0 auto;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropDownContent {
    width: 200px;
  }
  .addItemBtn {
    width: 70%;
    margin: 0 auto;
  }
  .filterBtn > h2::after {
    content: "\20 by status";
  }
  .newButtonText > h4::after {
    content: "\20 Invoice ";
  }
  .bottomInvoice {
    max-width: 100%;
  }
  .backArrow {
    /* height: 50px;
    width: 50px; */
    /* justify-self: center; */
  }
  .alert-danger {
    background-color: red;
    height: 5vh;
    width: 50%;
    position: fixed;
    margin-left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;

    top: 0;
    left: 0;
  }
}
