* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: block;
  background-color: #f8f8fb;
}
p {
  margin: 0;
}
h4 {
  margin: 0;
}
.invoiceID {
  grid-area: invoiceID;
  padding: 1rem;
  display: flex;
}
.clientsName {
  grid-area: clientsName;
}
.paymentDue {
  grid-area: paymentDue;
  padding: 1rem;
}
.status {
  grid-area: status;
  margin-top: 1rem;
  border-radius: 15px;
  height: fit-content;
  padding: 1rem;
  width: 70% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total {
  grid-area: total;
  padding: 0 1rem 1rem 1rem;
}
.street {
  grid-area: street;
}
.state {
  grid-area: state;
}
.city {
  grid-area: city;
}
.zip {
  grid-area: zip;
}
.country {
  grid-area: country;
}
.clientsName {
  grid-area: clientsName;
  padding: 1rem;
}
.clientsEmail {
  grid-area: clientsEmail;
}
.invoiceBillTo {
  padding-top: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  display: grid;
}
.homeHeader {
  background-color: #f8f8fb;
}
.invoiceItems {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}
.itemMultiply {
  display: flex;
}
.itemTotal {
  grid-column: 2/3;
  grid-row: 1/3;
}
.billToAddress {
  grid-row: 1/3;
  grid-column: 2/3;
}
.BillTo {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-areas: "clientsName clientsEmail";
}
.BillTo > div {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.bottomInvoice {
  width: 88vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bottomInvoice > div {
  display: flex;
  flex-direction: column;
}

.AddressForm {
  grid-area: AddressForm;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 30vw 25vw 30vw;
  justify-content: center;
  grid-template-areas:
    "clientsName clientsName clientsName"
    "clientsEmail clientsEmail clientsEmail"
    "street street street"
    "city state zip"
    "country country country";
}
.AddressForm > div {
  display: flex;
  flex-direction: column;
}
.NavBar {
  grid-area: NavBar;
  max-height: 10vh;
}
.InvoiceTitle {
  grid-area: InvoiceTitle;
  padding-top: 1rem;
  padding: 1rem;
}
.Filter {
  grid-area: Filter;
  position: relative;
  display: inline-block;
}
.filterBtn {
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  margin-left: auto;
  background-color: #f8f8fb;
}

.dropDownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  background-color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px lightgray;
}
.filterLink:hover {
  background-color: #f8f8fb;
  cursor: pointer;
  padding: none;
  margin: none;
}
.filterLink {
  width: 100%;
  background-color: none;
}
.filterBtn:hover {
  cursor: pointer;
}
.Filter:hover .dropDownContent {
  display: flex;
  z-index: 2;
}

.NewButton {
  grid-area: NewButton;
  background-color: #7c5dfa;
  margin-top: 1rem;
  border-radius: 50px;
  display: flex;
  max-width: 30vw;
  border: none;
  margin: 1rem;
}
.plusIcon {
  justify-content: center;
  align-self: center;
  background-color: white;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
}
.newButtonText {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.plusIconImg {
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
}
.NewButton:hover {
  cursor: pointer;
}
.InvoiceList {
  grid-area: InvoiceList;
  color: black;
}
.BackButton {
  display: flex;
  gap: 1rem;
}
.BackButton:hover {
  cursor: pointer;
}
.BackButton img {
  transform: scale(0.3);
  width: 5vw;
  height: auto;
}
.homeHeader {
  display: flex;
  justify-content: space-between;
}
.grandTotal {
  display: flex;
  justify-content: space-around;
}
.dark-mode {
  background: black !important;
  color: white;
}
.Invoice {
  background-color: white;
  display: flex;
  margin: 1rem;
  border-radius: 15px;
  min-height: 15vh;
  height: fit-content;
  box-shadow: 2px 2px 5px lightgray;
  display: grid;
  flex: wrap;
  white-space: nowrap;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "invoiceID clientsName"
    "paymentDue status"
    "total status";
  justify-content: space-between;
  text-align: start;
  /* font-size: 0.75rem; */
}
.Invoice > div {
  width: 20vw;
}
.formData {
  color: black;
}
.Item {
  /* gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; */

  border: 2px solid black;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.itemName {
  grid-row: 1/2;
  grid-column: 1/5;
}
.qty {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 0.5rem;
}
.price {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0.5rem;
}
.itemTotal {
  grid-row: 2/3;
  grid-column: 3/4;
  padding: 0.5rem;
}
.itemDelete {
  grid-row: 2/3;
  grid-column: 4/5;
  padding: 0.5rem;
}
.input {
  width: 100%;
}
.itemDelete {
  grid-row: 2/3;
  grid-column: 4/5;
}
.Alert {
  border: 2px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 40vw;
}
.invoiceStatus {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
}
.senderAddress {
  padding-top: 1rem;
}
.itemTotal {
  height: min-content;
  margin: 0;
}
.NavBar {
  background-color: #252945;
  display: flex;
}
.avatarImg {
  border-radius: 50%;
  padding: 0.5rem;
  height: 100%;
}
.avatar {
  border-left: 1px solid gray;
}
.logo {
  display: flex;
  width: 12vw;
  align-items: center;
  justify-content: center;
  background: #7c5dfa;
  border-radius: 0px 20px 20px 0px;
}
.logo > img {
  padding-top: auto;
  height: 40%;
}
.theme {
  margin-left: auto;
  padding-right: 1rem;
  align-self: center;
}
